# Dependencies
node_modules/

# Next.js
.next/
out/
next-env.d.ts

# Vercel
.vercel

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Env
.env
.env*.local

# Archives
*.tar.gz
*.zip
